---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
---
<MainLayout title="Titel">
	<Hero />
	<main class="container mx-auto p-4">
	</main>
</MainLayout>