---
import Logo from '../assets/images/logo.svg?url';
import Lup from '../assets/images/lup.svg?url';
import Laas from '../assets/images/laas.svg?url';
import Button from './Button.astro';
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header class="bg-white">
    <div class="w-full px-4 sm:px-6 lg:px-12 py-6 flex items-center justify-between">
        <div class="flex items-start gap-4">
            <a href="/" class="block">
                <img src={Logo} alt="Børnebiffen logo" class="h-14 md:h-16" />
            </a>
            <div class="hidden sm:flex flex-col justify-center">
            </div>
        </div>

        <div class="flex items-center gap-4">
            <Button href="/komponentbibliotek">Komponentbibliotek</Button>
            <Button ariaLabel="Søg">
                <img src={Lup} alt="Søg" class="w-5 h-5 md:w-6 md:h-6" />
            </Button>
            <Button>
                <img src={Laas} alt="" class="w-5 h-5 md:w-6 md:h-6" />
                Log ind
            </Button>
        </div>
    </div>
</header>